<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Aktionen</li>
    <li><a href="#" title="Nächste freie Signatur" data-content="Fügt die nächste freie Signaturnummer in das Signaturfeld ein. Bitte die Signaturnummer bis zum letzten Bindestrich eingeben, also etwa '210.3-'." id="next_free_signature">Nächste freie Signatur</a></li>
    <li><a href="#" title="Ausfüllen mit Google Books" data-content="Sucht den Titel des Buches bei Google Books und versucht damit weitere Felder auszufüllen." id="fill_in_with_google">Ausfüllen mit Google Books</a></li>
  </ul>
</div>
<div class='well'>
  <% if @book.current_lending %>
    <h4>Entliehen von:</h4>
    <ul>
      <li>
        <%= link_to @book.current_lending.borrower.name + " (#{@book.current_lending.extCount} mal verlängert)", admin_borrower_path(@book.current_lending.borrower) %>
      </li>
    </ul>
  <% end %>
  <h4>Vorgemerkt von:</h4>
  <ol>
    <% @book.reservations.order(:created_at).each do |reservation| %>
      <li><%= reservation.borrower.name%> <%= link_to '<sup>[&times;]</sup>'.html_safe, admin_delete_reservation_path(reservation), :method => :delete, :confirm => 'Wirklich diese Reservierung löschen?' %></li>
    <% end %> 
  </ol>
</div>
    
