<div class="modal">
  <div class="modal-header">
    <h3>Buch vormerken</h3>
  </div>
  <%= semantic_form_for @reservation, :url => reservations_admin_book_path, :method => :post do |f| %>
    <div class="modal-body">
      <%= f.input :borrower, :collection => Borrower.order("name") %>
      <%= f.input :book_id, :as => :hidden %>
    </div>
    <div class="modal-footer">
      <button id="reserve_book_button" class="btn primary">Buch vormerken</button>
    </div>
  <% end %>
</div>
