<% content_for :sidebar do %>
  <%= render "edit_sidebar" %>
<% end %>
<% content_for :content do %>
  <div class="page-header">
    <h1>Buch bearbeiten</h1>
  </div>
  <%= render "form" %>
<% end %>
