<% content_for :sidebar do %>
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Aktionen</li>
      <li><button title="N채chste freie Signatur" data-content="F체gt die n채chste freie Signaturnummer in das Signaturfeld ein. Bitte die Signaturnummer bis zum letzten Bindestrich eingeben, also etwa '210.3-'." id="next_free_signature">N채chste freie Signatur</button></li>
    </ul>
  </div>
<% end %>
<% content_for :content do %>
  <div class="page-header">
    <h1>Buch bearbeiten</h1>
  </div>
  <%= render "form" %>
<% end %>
