<% content_for :content do %>
  <div class="row">
    <div class="page-header">
      <h1>Leihzettel</h1>
    </div>
    <div class="span12">
      <table class="table">
        <thead>
          <tr>
            <th>Erstellungsdatum</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>
          <% @printouts.each do |printout| %>
            <tr>
              <td><%= printout.created_at %></td>
              <td><%= link_to "PDF", printout.pdf_url %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
<% content_for :sidebar do %>
  <div class="page-header">
    <h1>Aktionen</h1>
  </div>
  <div class="well">
    <h3>Ungedruckt: <%= @unprinted %></h3>
    <%= link_to "Pdf generieren", new_admin_printout_path, :class => "btn" %>
  </div>
<% end %>
