<% content_for :content do %>
  <div class="page-header">
    <h1>Leihzettel</h1>
  </div>
  <div class="row">
    <div class="span12">
      <table class="table">
        <thead>
          <tr>
            <th>Erstellungsdatum</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>
          <% @printouts.each do |printout| %>
            <tr>
              <td><%= printout.created_at %></td>
              <td><%= link_to "PDF", printout.pdf_url %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<% content_for :sidebar do %>
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Aktionen</li>
      <li>Ungedruckt: <%= @unprinted %></li>
      <li><%= link_to "Pdf generieren", new_admin_printout_path %></li>
    </ul>
  </div>
<% end %>
