<div class="container">

    <div class="row">
    <div class="hero-unit page-header">
      <h1>OPAC Japanologie - Kyōto</small></h1>
    <h4>Willkommen beim Online-Bibliothekskatalog des Tübinger Zentrums für Japanstudien (TCJS) an der Dōshisha Universität, Kyōto</h4>
    </div>
    <div class="span9 offset2">
      <%= form_tag search_path, method: "get", id: "search_form", class: "form-search" do %>
      <script type="text/javascript">
        $(function(){
            $("#search_main").popover();
        })
      </script>
      <input type="text" id="search_main" data-toggle="popover" data-trigger="hover" data-placement="left" data-title="Freie Suche" data-content="eine unspezifische Suche über alle Felder starten. Für spezifische Suchanfragen entweder die erweiterte Suche benutzen oder die folgende Syntax verwenden 'Kategorie:Stichwort' z.B. 'autor:kenko' oder 'titel:kyoto'" name="search" class="input-xxlarge search-query" value="<%= params[:search] %>">
        <button id="search_button_main" class="btn btn-primary">Suchen</button>
      <% end %>
    </div>

    <div class="span12">
      <p>Sie finden hier den Gesamtbestand der Bibliothek des Tübinger Zentrums für Japanstudien
      (TCJS) an der Dōshisha Universität, Kyōto.</p>
      <p>Bei Problemen mit dem WebOpac informieren Sie bitte die Bibliothek: <a href="mailto:#">bibliothek[at]japanologie.uni-tuebingen.de</a></p>
      <p>
        <span style="text-decoration:underline">Nähere Informationen zum Zentrum finden Sie unter:</span>
        <br />
        <a href="http://www.uni-tuebingen.de/fakultaeten/philosophische-fakultaet/fachbereiche/aoi/japanologie/kyoto-zentrum.html">www.kyoto.uni-tuebingen.de</a>
      </p>
      <p>
        <span style="text-decoration:underline">Kontaktdaten Zentrum:</span>
        <address>
          <strong>Zentrum für Japanstudien der Universität Tübingen in Kyōto</strong><br />
          Kamigyō-ku, Imadegewa-dōri, Karasuma Higashi-iru<br />
          〒 602-8580 Kyōto<br />
          Telefon: 0081-75-251 3357<br />
          Fax: 0081-75 251 3095<br />
          Email: <a href="mailto:#">ji-tubgn[at]mail.doshisha.ac.jp</a>
        </address>
      </p>

    </div>
  </div>
  <hr>
  <footer class="footer">
  <p>Programmierung © 2013 <%= link_to "Roger Braun", "https://github.com/rogerbraun/Zenodotos"%>, <%= link_to "Jiayi Zheng", "https://github.com/thebluber"%></p>
  </footer>
</div>

