<% content_for :sidebar do %>
  &nbsp;
<% end %>

<% content_for :content do %>
  <div class="page-header">
    <h1>Sammlungen</h1>
  </div>
  <div class="row">
    <div class="span12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Bücher</th>
          </tr>
        </thead>
        <tbody>
          <% @collections.each do |collection| %>
            <tr>
              <td><%= collection.id %></td>
              <td><%= link_to collection.name, [:admin, collection] %></td>
              <td><%= collection.books.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate @collections %>
<% end %>
