// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";

// To customize the Active Admin interfaces, add your
// styles here:

li.hidden {
  display: none;
}

table.form_table {

  padding: 10px;

  input, textarea{
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    outline: none;
    border:  1px solid #99A2AA;
  }

  td.japanisch {
    input {
      background-color:#B0B0B0; 
    }
  }

}


